<button class="btn btn-warning" (click)="userinf()">User History</button>

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >{{selectedUser.id}}</td>
      <td>{{selectedUser.name}}</td>
      <td>{{selectedUser.phone}}</td>
      <td>{{selectedUser.address.street}} {{selectedUser.address.city}} {{selectedUser.address.zipcode}}</td>
    </tr>

  </tbody>
</table> -->

